<div class="container">
    <div class="row">
        <div class="col-sm-12">

            {{#each classmate}}
            <div class="thumbnail">
                <img src="{{this.image}}" alt="" class="smImage"/>
                <div class="caption">
                <h3 class="cmName">{{this.name}}"</h3><a href="{{this.github}}" target="_blank"><span class="fa fa-github"></span></a>
                <p class="cmStats">Score: {{this.score}}" | LTP: {{this.LTP}}"</p>
                <!--<p><a href="#" class="btn btn-primary github" role="button"><span class="fa fa-github"></span></a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
                </div>
            </div>
            {{/each}}
            
        </div>
    </div>
</div>