<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-12" id="alltime">
        <h3>All Time Leaders</h3>
        <table class="table table-bordered alltimetb">
          <tr class="tablehead">
            <th id="rankth">Rank</th>
            <th id="nameth">Name</th>
            <th id="scoreth">Score</th>
            <th id="ltpth">Lifetime Points</th>
            <th id="joinedth">Joined Date</th>
          </tr>

          {{#each alltimeleaders}}
          <tr>
            <td>{{this.rank}}</td>
            <td>{{this.name}}</td>
            <td>{{this.score}}</td>
            <td>{{this.ltp}}</td>
            <td>{{this.joined}}</td>
          </tr>
          {{/each}}

        </table>
      </div>
      <div class="col-sm-6" id="thismonth">
        <h4>This Month's Leaders</h4>
        <table class="table table-bordered thismonthtb">
          <tr>
            <th id="rankth">Rank</th>
            <th id="nameth">Name</th>
            <th id="scoreth">Score</th>
            <th id="ltpth">Lifetime Points</th>
          </tr>

          {{#each thismonthleaders}}
          <tr>
            <td>{{this.rank}}</td>
            <td>{{this.name}}</td>
            <td>{{this.score}}</td>
            <td>{{this.ltp}}</td>
          </tr>
          {{/each}}

        </table>
      </div>
      <div class="col-sm-6" id="lastmonth">
        <h4>Last Month's Leaders</h4>
        <table class="table table-bordered lastmonthtb">
          <tr>
            <th id="rankth">Rank</th>
            <th id="nameth">Name</th>
            <th id="scoreth">Score</th>
            <th id="ltpth">Lifetime Points</th>
          </tr>
          
          {{#each lastmonthleaders}}
          <tr>
            <td>{{this.rank}}</td>
            <td>{{this.name}}</td>
            <td>{{this.score}}</td>
            <td>{{this.ltp}}</td>
          </tr>
          {{/each}}

        </table>
      </div>
    </div>
  </div>
</div>




<div class="container mainbody">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-12" id="alltime">
        <h3 class="leadertitles">All Time Leaders</h3>
        <table class="table table-bordered alltimetb">
          <tr>
            <th id="rankth">Rank</th>
            <th id="nameth">Name</th>
            <th id="scoreth">Wins</th>
            <th id="ltpth">Lifetime Points</th>
            <th id="joinedth">Joined Date</th>
          </tr>

          {{#each alltimeleaders}}
          <tr>
            <td>{{this.rank}}</td>
            <td>{{this.fName}} {{this.lName}}</td>
            <td>{{this.wins}}</td>
            <td>{{this.ltp}}</td>
            <td>{{this.joined}}</td>
          </tr>
          {{/each}}

        </table>
      </div>
      <div class="col-sm-6" id="thismonth">
        <h4 class="leadertitles">This Month's Leaders</h4>
        <table class="table table-bordered thismonthtb">
          <tr>
            <th id="rankth">Rank</th>
            <th id="nameth">Name</th>
            <th id="scoreth">Wins</th>
            <th id="ltpth">Lifetime Points</th>
          </tr>

          {{#each thismonthleaders}}
          <tr>
            <td>{{this.rank}}</td>
            <td>{{this.fName}} {{this.lName}}</td>
            <td>{{this.score}}</td>
            <td>{{this.ltp}}</td>
          </tr>
          {{/each}}

        </table>
      </div>
      <div class="col-sm-6" id="lastmonth">
        <h4 class="leadertitles">Last Month's Leaders</h4>
        <table class="table table-bordered lastmonthtb">
          <tr>
            <th id="rankth">Rank</th>
            <th id="nameth">Name</th>
            <th id="scoreth">Wins</th>
            <th id="ltpth">Lifetime Points</th>
          </tr>

          {{#each lastmonthleaders}}
          <tr>
            <td>{{this.rank}}</td>
            <td>{{this.fName}} {{this.lName}}</td>
            <td>{{this.score}}</td>
            <td>{{this.ltp}}</td>
          </tr>
          {{/each}}

        </table>
      </div>
    </div>
  </div>
</div>