<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-12" id="alltime">
        <h3>All Time Leaders</h3>
        <table class="table table-bordered alltimetb">
          <tr>
            <th id="rankth">Rank</th>
            <th id="nameth">Name</th>
            <th id="scoreth">Score</th>
            <th id="ltpth">Lifetime Points</th>
            <th id="joinedth">Joined Date</th>
          </tr>

          {{#each alltimeleaders}}
          <tr>
            <td>{{this.rank}}</td>
            <td>{{this.name}}</td>
            <td>{{this.score}}</td>
            <td>{{this.ltp}}</td>
            <td>{{this.joined}}</td>
          </tr>
          {{/each}}

        </table>
      </div>
      <div class="col-sm-6" id="thisweek">
        <h4>This Week's Leaders</h4>
        <table class="table table-bordered thisweektb">
          <tr>
            <th id="rankth">Rank</th>
            <th id="nameth">Name</th>
            <th id="scoreth">Score</th>
            <th id="ltpth">Lifetime Points</th>
          </tr>

          {{#each thisweekleaders}}
          <tr>
            <td>{{this.rank}}</td>
            <td>{{this.name}}</td>
            <td>{{this.score}}</td>
            <td>{{this.ltp}}</td>
          </tr>
          {{/each}}

        </table>
      </div>
      <div class="col-sm-6" id="lastweek">
        <h4>Last Week's Leaders</h4>
        <table class="table table-bordered lastweektb">
          <tr>
            <th id="rankth">Rank</th>
            <th id="nameth">Name</th>
            <th id="scoreth">Score</th>
            <th id="ltpth">Lifetime Points</th>
          </tr>
          
          {{#each lastweekleaders}}
          <tr>
            <td>{{this.rank}}</td>
            <td>{{this.name}}</td>
            <td>{{this.score}}</td>
            <td>{{this.ltp}}</td>
          </tr>
          {{/each}}

        </table>
      </div>
    </div>
  </div>
</div>